* {
  box-sizing: border-box;
}
body {
  background:linear-gradient(50deg,#f2eaea, #abbaea);
  padding: 6px;
  font-size:1.4rem;
 }
svg text{
  font-size: 6rem;
  stroke-width: 3px;
  fill: transparent;
  stroke:red;
  letter-spacing: 2px;
  animation: effect 2s infinite alternate;
}
.main {
  max-width: 1000px; 
  margin: auto;
}
.row {
  margin: 10px -16px;
}
.row,
.row > .column {
  padding: 8px;
}
.column {
  float: left;
  width: 33.33%;
  display: none; 
} 
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
  background-color: white;
  padding: 7px; 
  border-radius:7px;
}
.show {
  display: block;
}
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  margin: 16px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  border-radius:7px;
}

.btn:hover {
  background:linear-gradient(50deg, #abbaea,#f2eaea);
  cursor:pointer;
}

.btn.active {
  background:linear-gradient(50deg,#f2eaea, #abbaea);
  color:black;
  outline: 2px solid ;
}
@media (max-width:576px){
   .column{
   width:100%;
   }
}
@keyframes effect{
  0%{
    stroke-dasharray:0 70%;
  }
  100%{
    stroke-dasharray:50% 0;
    stroke-dashoffset:10%;
  }
}




